<html>
	<head>
		<title>
			Home
		</title>
	</head>
	<body>
		<h1>Welcome to Block Chain Marketplace {{user.username}}</h1>
		 <table style="width:100%">
  			<tr>
    				<th>Seller</th>
				<th>Item Name</th>
    				<th>Item Description</th>
    				<th>Price</th>
  			</tr>
			{% for item in item_list %}
			{% if item.available %}
  			<tr>
				<td>{{item.seller_id}}</td>
    				<td>{{item.item_name}}</td>
    				<td>{{item.item_desc}}</td>
				<td>{{item.price}}</td>
				<form action="{% url 'wapp:buy' item.item_id%}" method="post">
                        	{% csrf_token %}
				<td><button type="submit">Buy</button></td>
				</form>
  			</tr>
			{% endif %}
			{% endfor %}
		</table>
		<div style="text-align:center; margin:10px">
			<form action="{% url 'wapp:sell' %}" method="post">
			{% csrf_token %}
				<button style="left:50%" type="submit">I want to sell something</button>
			</form>
		</div>
		<form action='/accounts/logout'>

                <button type ="submit"> Log out</button>
                </form>
	{% if messages %}
	<ul class="messages">
    	{% for message in messages %}
    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    	{% endfor %}
	</ul>
	{% endif %}	
	</body>
</html>
